
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gray;
}
nav{
    margin: 10px 50px;
    width: 90%;
    font-weight: bold;
    font-size:25px;
    /* border: 2px solid orange; */
}
#logo{
    margin : 0px 20px;
    color: orangered;
    font-size: 25px;

}

nav>ul{
    display: inline-block;

}

#right{
    margin-left: 10px;
    display: inline-block;
}
#right input{
    border-left:2px solid orangered;
    border-bottom:2px solid orangered;
    border-top:2px solid orangered;
    padding: 10px;
    color: white;



}
#right button{
    padding: 13px;
    margin-top: -2px;
    font-size: 10px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    margin-left: -9px;

}
#right button:hover{
    background-color: white;
    color: orangered;
    font-weight: bolder;
}
nav>ul>li{
    list-style: none;
    display: inline-block;
    margin:20px 40px;

}


li>a{
    text-decoration: none;
    color: white;


}

li>a:hover{
    color: orange;
}


.section1
{
    width: 50%;
    margin-top: 100px ;
    margin-left: 100px;

    height: 500px;
    float: left;
    /* display: inline-block; */
    font-size: 30px;
}
.section1 h2{
    color: white;
}
.section1 h2 span{
    color: orangered;
}
.section1 p{
    color: white;
}
.section2{
    /* border: 2px solid black; */
    display: inline-block;
    color: wheat;
    margin-top: 90px;
    height: 500px;


}
.form{
    width: 400px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px 70px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
#join{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}
::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    margin: 10px;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
footer{
    background-color: #ff7200;
}